@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}
body {
    font-family:"Poppins";
    font-size: 21px;
    background-color: #e6e2e2;   
}
header {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    width: 100%;
    height: 112px;
    background-color: #fff;
    box-shadow:3px 3px 3px rgba(0, 0, 0, 0.2);
}
header img{

    height: 75px;
    width: 96px;
    align-items: center;
    margin-left: 64px;
}
header ul {
    display: flex;
    align-items: center;
    margin-right: 64px;
    gap:16px;
}
header ul li a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
  }
  a:hover, a.active{
    font-weight: bold;
    font-size: 1.1rem;
    transform: 5s;
    color:chocolate
  }
  header h2 {
    font-size: 32px;
    font-weight: bold;
    margin:0 48px
  }
  .checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 112px;
    margin-left: 40px;    
    cursor: pointer;
    margin: 0 48px;
    display: none;
}
 #check{
   display: none;
 }
 /* The Main page */
 .container{
  display: flex ;
  justify-content: center;
  margin-top: 144px;
  height: 680px;
 }
 .signup-form{
  height: 630px;
  background-color: #FFF;
  padding :42px;
  border-radius: 8px;
  border: none;
  box-shadow: rgba(0 , 0, 0, 0.4);
}
.signup-form h3{
  text-align: center;
  padding-bottom: 16px;
  color: #EB7F1C;
}
.text-area input {
  height: 35px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #cbc8c8;
  padding: 0 24px;
  font-size: inherit;
  font-family: inherit;
}
.text-area p{
  padding-top: 16px;
  text-align: center;
}
.signup-form .Register{
  text-align: center;
  text-decoration: none;
  margin: 16px 0;  
  background-color: #EB7F1C;
  border-radius: 8px;
  padding: 8px 0;
}
.signup-form .Register a{
  color: #fff;  
}
.signup-form .Register a:hover{
  color:#1D267D ;
}
.signup-form .Agreement{
  color: #000;
 
}
.signup-form .Agreement a{
  color: #000;
  text-decoration: none;
}
.signup-form .Agreement a:hover{
  color: #1D267D;
  text-shadow: rgba(0 , 0, 0, 0.4)
}

 /* Footer contents */
.footer-container{

  background-color: #474E68;
}

.text-area{
  display: block;
  justify-content: center;
  align-items: center;  
 
}
.f-container{
padding-top: 48px;
  line-height: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 justify-items: center;
 color: #fff;
 
}
.browser h3:hover{
  color: #EB7F1C;
  font-weight: bold;
  transform: 5s;
}

.browser ul li:hover {
  color: #EB7F1C;
  font-weight: bold;
  transform: 5s;
}
.logo-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 32px 0;
  border-top: #fff 3px solid;
  padding: 32px;
  justify-items: center;
  color: #fff;
  font-weight: bold;
  
}

/*.f-container */
.logo-container img{
  width: 100px;
  height: 70px;
}
@media (max-width:1010px){
    header img{
        display: none;
       
    }

  }

@media (max-width:864px)
{
  .checkbtn{
      display: block;     
    }
    ul{
    
      position: fixed;
      width: 280px;
      height: 50vh;
      background: #E8C8AB;
      top: 115px;
      right: -100%;
      text-align: center;
      transition: all .5s;
      border: 1px rgba(172, 169, 169) solid;
     border-radius: 0 0 16px 16px;
     z-index: 1028;
      
    }
    header ul{
      display: block;
      line-height: 30px;
      text-align: left;
     }
     header ul li {
      margin: 16px;
     }
    header ul li a{
      font-size: 21px;
     
    }
    a:hover,a.active{
      background: none;
      color:#EB7F1C;
                    }
    #check:checked ~ ul{
            left: 0;
    }
}
